@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
/* font-family: 'Noto Sans TC', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Noto Sans TC', sans-serif ;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}
span{
    font-size: .9rem;
    color: #757575;
}
h6{
    font-size: 1.1rem;
    color: black;
}

/* nav */
nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
nav a{
    text-decoration: none;
    color: #D2691E;
    transition: 0.3s ease;
}
nav a:hover{
    color: #8B4513;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: #D2691E;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover{
    color: #8B4513;
}
/* home */
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("../images/bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
 #home h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
}  #home p{
    width: 50%;
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
} 
/* feature */
#feature{
    padding: 5vh 8vh 0 8vw;
    text-align: center;
}
#feature h1{
    font-size: 3rem;
    color: #D2691E;
}
#feature p{
    font-size: 2rem;
    color: #D2691E;
}
#feature .fee-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#feature .fee-box{
    background: #DEB887;
    text-align: start;
    border-radius: 1rem;
}
#feature .fee-box i{
    font-size: 2.3rem;
    color: #D2691E;
}
#feature .fee-box h3{
    font-size: 3rem;
    font-weight: 600;
    color: #D2691E;
    padding: 13px 0 7px 0;
    text-align: center;
}
#feature .fee-box p{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: white;
}
/* themes */
#theme{
    padding: 5vh 8vh 0 8vw;
    text-align: center;
    margin-top: 5rem;
}
#theme h1{
    font-size: 3rem;
    color: #D2691E;
}
#theme p{
    font-size: 3rem;
    color: #D2691E;
}
#theme .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    
}
#theme img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.5s;
}
#theme img:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}



