@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
/* font-family: 'Noto Sans TC', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Noto Sans TC', sans-serif ;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}
span{
    font-size: .9rem;
    color: #757575;
}
h6{
    font-size: 1.1rem;
    color: black;
}

/* nav */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    background-color: #D2691E;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
nav a:hover{
    color: #FFF8DC;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover{
    color: #FFF8DC;
}